<div class="menubar">
  <img src="../../assets/marvelLogo.jpg" class="marvel-logo">
  <ul>
    <li>
      <a routerLink="/home" class="menubar-navlinks">
        <div id="textAlignDiv">Home</div>
        <span id="bottomRedBar"></span>
      </a>
      
    </li>
    <li>
      <a routerLink="/dashboard" class="menubar-navlinks">
        <div id="textAlignDiv">Dashboard</div>
        <span id="bottomRedBar"></span>
      </a>
    </li>
    <li>
      <a routerLink="/about" class="menubar-navlinks">
        <div id="textAlignDiv">About</div>
        <span id="bottomRedBar"></span>
      </a>
    </li>
  </ul>

  <div id="searchDiv">
    <input placeholder="Search hero..." class="searchHeroInput" >
    <button></button>
  </div>
</div>