.characterBadge {
    display: inline-block;
    position: relative;
    background-color: #1a1a1aff;
    height: relative;
    width: 22%;
    margin: 0px 20px 5% 0px;
    transition: transform .1s;
}

.characterBadge:hover {
    background-color: #2a2a2aff;
    transform: scale(1.05);
}

.characterBadge p {
    display: flex;
    font-family: 'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0;
    color: white;
}

#charBadge-image {
    width: 100%;
    height: relative;
    vertical-align: middle;
}

/* TODO: Make favorite icon yellow when character is favorites*/
#favoriteIcon {
    display: flex;
    height: fit-content;
    width:fit-content;
    margin: 0 auto 5px;
    padding: 0;
    align-items: center;
}


#favoriteIcon img {
    content: url('../../assets/favoriteIconNormal.svg');
    height: 25px;
    width: 25px;
}

#favoriteIcon img:hover {
  content: url('../../assets/favoriteIconHover.svg');
}

#favoriteIcon img.isFavorited {
    content: url('../../assets/favoriteIconFavorited.svg');
}
