<div class="wrapperDiv">
  <p>This project is a first project test using Angular + the awesome Marvel API to implement a</p>
  frontend only application to show details about all available Marvel characters and a system to
  save and share a list of favorite characters.
  <p>All the data is provided by Marvel servers</p>
  <a href='https://angular.io'>Angular</a>
  <a href='https://developer.marvel.com/'>Marvel API</a>
  <p>Source is available on GitHub:</p>
  <a href='https://github.com/Ekozmaster/angular2-marvel-api-test'>Source Repo</a>
</div>
