<div class="character-listing-page">
    <p id="pageTitle">Characters ></p>
    <app-character-badge [charInfo]="charInfo" *ngFor="let charInfo of charsList"></app-character-badge>

    <div class="pagerNavigation" *ngIf="pager.totalPages > 1">
        <span *ngIf="pager.startPage !== 1"><button 
            (click)="onSelectPage(pageIndex)">1</button>
            ...
        </span>
        <button 
            *ngFor="let pageIndex of pagesIndexes" 
            (click)="onSelectPage(pageIndex)"
            [class.selected]="pageIndex === pager.currentPage">{{pageIndex}}</button>
        <span *ngIf="pager.endPage !== pager.totalPages" >...<button 
            (click)="onSelectPage(pager.totalPages)">{{pager.totalPages}}</button>
        </span>
    </div>
</div>