<div class="character-listing-page">
    <p id="pageTitle">Characters ></p>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
        <app-character-badge></app-character-badge>
</div>