<div class="wrapperDiv">
  <div (click)="goBack()" class="returnButton">
    <img src="../../assets/backArrowIcon.svg" id="backArrowImg">
  </div>
  <div class="mainDetailsPanel" *ngIf="charInfo">
    <img [src]="charInfo.img_src" id="charThumbnail">
    <div id="infoBlock">
      <span id="characterName">{{charInfo.name}}</span>
      <button id="favoriteButton" (click)="onFavoritesButton()" [class.favorited]="charInfo.favorited">Save in Favorites<img src="../../assets/favoriteIcon.svg"></button>
      <span id="characterDescription"><span style="color: #a5a5a5ff; font-weight: bold;">Description: </span>{{charInfo.description}}</span>
    </div>
  </div>
  <p id="sectionTitle">Comics</p>
  <div class="comicsDiv"><div id="comicEventsEntry" *ngFor="let comicEntry of charComics">{{comicEntry.name}}</div></div>
  <p id="sectionTitle">Events</p>
  <div class="eventsDiv"><div id="comicEventsEntry" *ngFor="let eventEntry of charEvents">{{eventEntry.name}}</div></div>
</div>
